.card-wrapper {
    padding-top: fluid-prop(80, 50, 1920, 390);
    padding-bottom: fluid-prop(100, 50, 1920, 390);

    & .wrapper {
        @media (max-width: 897px) {
            padding-right: 0;
        }
    }
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @media (max-width: 897px) {
        align-items: normal;

        & span {
            margin-right: fluid-prop(370, 16);
        }

        & h2 {
            margin-right: fluid-prop(370, 16);
        }

        & a:last-child {
            margin-right: fluid-prop(370, 16);
        }
    }

    & span {
        text-align: center;

    }

    & h2 {
        margin-top: 8px;
        text-align: center;

    }
    @media (max-width: 700px){
        & span{
            text-align: start;
        }
        & h2{
            text-align: start;
        }
    }
    & center:last-child {
        margin-top: fluid-prop(50, 32);
        color: var(--white);

        &:hover {
            color: var(--green);
        }
    }
    & .slider {
        margin-top: fluid-prop(50, 32);
        display: flex;
        flex-direction: row;
        width: min(1180px, calc(100vw - fluid-prop(370, 16)*2 - 23px));
        // margin-left: fluid-prop(370, 16);
    
        @media (max-width: 1464px) {
            width: min(1180px, calc(100vw - fluid-prop(370, 16)*2 - 24px));
        }
    
        @media (max-width: 897px) {
            width: min(1180px, calc(100vw - fluid-prop(370, 16)));
        }
    }
    & .card-swcon {
        overflow: hidden;
    }
    
    & .swiper-wrapper {
        display: flex;
        flex-direction: row;
    }
}









.card__item {
    height: fluid-prop(500, 400, 1920, 1464);
    border-radius: 32px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
    position: relative;
    width: 100%;
    &:hover{
        & .card__item-star{
            transform: translateX(200%);
        }
        & .card__content{
            height: 100%;
            margin-top: 0;
        }
    }
}

.card__item-star {
    // position: absolute;
    // right: 0px;
    // top: 50px;

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 7px 7px 7px 10px;
    background-color: #FDFDFD66;
    border-radius: 4px 0px 0px 4px;
    transition: all 0.5s;
    
}
.card__content:nth-child(2){
    & a:last-child{
        color: var(--white);
        &:hover{
            border: 1px var(--white) solid;
        }

    }
}
.card__content{
    padding: 30px 32px 20px 32px;
    padding: fluid-prop(30, 23) fluid-prop(32, 23) fluid-prop(30, 23) fluid-prop(20, 20);
    width: 100%;
    height: 100%;
    transition: all 1s;
    background-color: #FFFFFF33;
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 32px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;


    & a{
        color: var(--white);
    }
    height:20%;
}
.card__content-price-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    & span{
        color: var(--white);
        font-size: fluid-prop(20, 16);
        padding: 8px 16px;
        padding: fluid-prop(8, 6) fluid-prop(16, 12);
        background-color: #FFFFFF4D;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        height: fit-content;
        margin: 0;
    }

}
.card__content-con{
    & a {
        margin: 0;
        margin-top: 10px;
    }
}
.card__content-price{
    & h3{
        color: var(--white);
        font-size: fluid-prop(24, 18);
    }
    & h4{
        color: var(--white);
        font-weight: 400;
        @media (max-width: 666px){
            display: none;
        }
    }
}
.card__content-dics{
    overflow: hidden;
    & p{
        @include fluid-text(16, 14);
        color: var(--white);
        margin-top: fluid-prop(38, 20);
        display: -webkit-box;
        -webkit-line-clamp: 9;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    
}